.dropdownmenu{
    margin-top: 10px;
}
.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #000000;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu-nintendo {
	left: -57px;
	opacity: 0;
	position: absolute;
    width: 200px !important;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu-nintendo {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu-nintendo li {
	float: none;
	width: 100%;
}
#submenu-nintendo a:hover {
	background: #df0505;
}
#submenu-nintendo a {
	background-color:#000000;
}

.nav-play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}