/* From uiverse.io by @adamgiebl */
.button {
    font-family: inherit;
    font-size: 15px;
    background: royalblue !important;
    color: rgb(255, 255, 255) !important;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    margin-top: 1rem !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   .textfield-Name{
    margin-top: 1rem !important;
   }
   .textfield-Email{
    margin-top: 1rem !important;
   }
   
  
   
  
   
   
   
   
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   